<html>


</html>
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-text mx-3">Trang admin</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">

    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Tùy chọn 1</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded ">
                <a class="collapse-item" href="../dashboard/">Tổng quan</a>
                <a class="collapse-item" href="../order/">Đơn hàng</a>
                <a class="collapse-item" href="../thongke/">Thống kê đơn hàng</a>
                <a class="collapse-item" href="../product/">Sản phẩm</a>
                <a class="collapse-item" href="../voucher/">Voucher</a>
                <a class="collapse-item" href="../thongkecalamviec/">Thống kê ca làm việc</a>
                
               
                


            </div>
        </div>
    </li>


    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Quản Lý Cửa Hàng</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded ">
                
                <a class="collapse-item" href="../quanlynhanvien/">Quản lý  nhân viên</a>
                <a class="collapse-item" href="../quanlynhanvien/addnv.php">Thêm  nhân viên</a>
                <a class="collapse-item" href="../nguyenvatlieu/">Tính toán nguyên vật liệu </a>
                <a class="collapse-item" href="../nguyenvatlieu/danhsachnl.php">Danh sách  nguyên vật liệu </a>
                <a class="collapse-item" href="../khachhang/">Quản lý khách hàng </a>
            </div>

            
        </div>
    </li>
</ul>
<!-- End of Sidebar -->